EXPO_PUBLIC_TERRI_DATA_SOURCE=supabase
EXPO_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_ACJWlzQHlZjBrEguHvfOxg_3BJgxAaH
EXPO_PUBLIC_MAP_ENV=development
EXPO_PUBLIC_MAP_TILE_MODE=dev-osm-raster
EXPO_PUBLIC_MAP_STYLE_URL=
EXPO_PUBLIC_MAP_ATTRIBUTION=© OpenStreetMap contributors
EXPO_PUBLIC_MAP_DEBUG_ALLOW_OSM_TILES=true
